.main_div{
    margin: 2px;
    padding: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 8px;
    border: solid gray 1px;
    min-height: 330px;
    height: 330px;
    overflow-x: auto;
}